@font-face {
   font-family: 'Karla';
   src: url('../Fonts/Karla/static/Karla-Light.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;

   }
  @font-face {
     font-family: 'Karla';
     src: url('../Fonts/Karla/static/Karla-RegularItalic.ttf') format('truetype');
     font-weight: normal;
     font-style: italic;
   }

   @font-face {
      font-family: 'Spectral';
      src: url('../Fonts/Spectral/Spectral-Regular.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
    }
    @font-face {
       font-family: 'Spectral';
       src: url('../Fonts/Spectral/Spectral-Bold.ttf') format('truetype');
       font-weight: bold;
       font-style: normal;
     }
     @font-face {
        font-family: 'Spectral';
        src: url('../Fonts/Spectral/Spectral-ExtraBold.ttf') format('truetype');
        font-weight: bolder;
        font-style: normal;
      }
     @font-face {
        font-family: 'Spectral';
        src: url('../Fonts/Spectral/Spectral-MediumItalic.ttf') format('truetype');
        font-weight: normal;
        font-style: italic;
      }
